---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
<p>It's so fast, you won't believe it's not magic!</p>
	<ul>
		{allPosts.map((post: any) => 
			<BlogPost url={post.url} 
				title={post.frontmatter.title} 
			/>
		)}
	</ul>
</BaseLayout>  
