---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation/>
		<h1>{pageTitle}</h1>
		<p>It's so fast, you won't believe it's not magic!</p>
		<p>Here's a list of my favorite things:</p>
		<ul>
			<li>Fast</li>
			<li>Fast</li>
			<li>Fast</li>	
		</ul>
		<p>And here's a picture of a cat:</p>
		<img src="/cat.jpg" alt="A cute cat" />
		<p>Thanks for visiting!</p>
	</body>
</html>
